<div class="grid">
  <div
    class="col-2 flex flex-column justify-content-center align-items-center bg-red-100"
  >
    <p>Imagen</p>
    <p>Username</p>
    <p>genero</p>
  </div>
  <div class="col-10 flex flex-column justify-content-start">
    <h5 class="text-xs font-light mb-0 mt-0">fecha de publicacion</h5>
    <p-divider></p-divider>
    <div style="word-wrap: break-word; max-width: 100%" class="p-2">
      <p class="my-5">
        
      </p>
    </div>
    <!-- div para las reacciones -->
    <!-- <div class="card w-full shadow-3 p-2">
      <p class="m-0"></p>
    </div> -->
  </div>
</div>
